In [ ]:
--1.1
/* 1.1 Write a query that returns the JobTitle, Birtdate, first and last names. Join the
HumanResources.Employee table to the Person.Person table. In this case, you can join on the
BusinessEntityID column from both tables. 
use AdventureWorks2019 */

select JobTitle, birthdate, firstname, lastname
FROM Person.Person as PP
join HumanResources.Employee as HRE
on PP.BusinessEntityID = HRE.BusinessEntityID

In [ ]:
--When I first did 1.1, the system told me that there is no 'birthdate'. 
--So I had to find the name of the column. This is how I did it:

SELECT  *
FROM INFORMATION_SCHEMA.COLUMNS
where column_NAME like '%birth%'

In [ ]:
--1.2
/* Customers can be joined to the Person table by the PersonID from the Sales.Customer table to the
BuisinessEntityID from the Person.Person table. Join the tables and return the CustomerID,
TerritoryID, first, last and middle names. */
select CustomerID, TerritoryID, firstname, lastname, middlename
FROM Person.Person as PP 
join Sales.Customer as SC
on PP.BusinessEntityID = SC.PersonID

In [ ]:
--1.3
/* Join the Sales.SalesOrderDetail table to the Production.Product table on ProductID. Return a list
containing the SalesOrderID, ProductID, OrderQty, and product name.  */
SELECT SalesOrderID, PPD.ProductID, OrderQty
From Sales.SalesOrderDetail as SOD
Join Production.Product as PPD
On SOD.ProductID = PPD.ProductID

--invalid name Productname --> can't find it
--SELECT  * FROM INFORMATION_SCHEMA.COLUMNS where column_NAME like '%product%'

In [ ]:
--1.4 
/* Join the HumanResources.JobCandidate table to the Person.Person table by BusinessEntityID.
Return the first, middle and last names along with the JobCandidateID column. */
select firstname, middlename, lastname, JobCandidateID
from HumanResources.JobCandidate as JC
join Person.Person as PP
on JC.BusinessEntityID = PP.BusinessEntityID

In [ ]:
--2.1 
/* Change the query found in question 1.3 so that it includes the order date. HINT: You will have to join
to one more table.*/
SELECT SOD.SalesOrderID, PPD.ProductID, OrderQty, SOH.orderdate
From Sales.SalesOrderDetail as SOD
Join Production.Product as PPD
On SOD.ProductID = PPD.ProductID

--found orderdate in Sales.SalesOrderHeader and in Purchasing.PurchaseOrderHeader.
-- did this to find something to join the tables on: select * from Sales.SalesOrderHeader    select * from Sales.SalesOrderHeader
join Sales.SalesOrderHeader as SOH
on SOD.SalesOrderID  = SOH.SalesOrderID

In [ ]:
--2.2 
/* Write a query that produces a list of the customer names and their SalesOrderID numbers. You will
have to join three tables: Person.Person, Sales.Customer, and Sales.SalesOrderHeader. */

--In tables 1&2: Business Entity ID = Person ID
--In tables 2&3: Customer ID same
--Linked names to sales order ID

select distinct PP.firstname, PP.lastname, PP.BusinessEntityID, SC.PersonID, SC.CustomerID, SOH.CustomerID, SOH.SalesOrderID
from sales.customer as SC
join  Person.Person as PP    
on PP.BusinessEntityID = SC.PersonID

join Sales.SalesOrderHeader as SOH 
on SC.CustomerID = SOH.CustomerID

In [ ]:
--2.3 
/* Write a query that returns the list of employees and their current department. To do this, you will
have to join the HumanResources.Employee table to the HumanResources.EmployeeDepartmentHistory
table and the HumanResources.Department table. You must also return rows where the EndDate from
the history table is NULL to get the latest data. Include BusinessEntityID, job title and department name
in the results. */

/*select *  from HumanResources.Employee  --> BusinessEntityID, JobTitle, 
select * from HumanResources.EmployeeDepartmentHistory --> BusinessEntityID, DepartmentID 
select * from HumanResources.Department --> DepartmnentID, name*/

SELECT Hist.BusinessEntityID, Emp.JobTitle, Dep.name, Hist.EndDate
from HumanResources.EmployeeDepartmentHistory as Hist
left join HumanResources.Employee as Emp
on Hist.BusinessEntityID = Emp.BusinessEntityID

left join HumanResources.Department as Dep
on Hist.DepartmentID = Dep.DepartmentID

where Hist.EndDate is null

--where comes after all the joins.
--6people evidently left (rows: 296 to 290) based on the fact that they had an "end date".

In [ ]:
SELECT Hist.BusinessEntityID, Emp.JobTitle, Dep.name
from HumanResources.EmployeeDepartmentHistory as Hist
join HumanResources.Employee as Emp
on Hist.BusinessEntityID = Emp.BusinessEntityID

JOIN HumanResources.Department as Dep
on Hist.DepartmentID = Dep.DepartmentID
--296 rows

In [ ]:
--3.1 
/* Return a list of the ProductID and name along with the SalesOrderID. Include all products even if
they have not been ordered. */

--To line up tables, I know SOH has sales order ID and PPD has Product ID and Name. 
--What I need is a middle table to link the two (something that has Product ID and SalesOrderID).
--Now that I found it, I realize I don't need SOD for anything :)
--select * from INFORMATION_SCHEMA.COLUMNS  where COLUMN_NAME like '%productID%'
--This led me to Sales.SalesOrderDetail

SELECT PPD.ProductID, PPD.name, SOD.SalesOrderID
from Production.Product as PPD
Left JOIN Sales.SalesOrderDetail as SOD
ON PPD.ProductID = SOD.ProductID
-- --> 121555 rows 
--how to have only the products as one per row, regardless of how many orders?

In [ ]:
--3.2 
/*Write a query that returns a list of the names in the People.People table. If the individual also
happens to be a customer, return the CustomerID. Join the PersonID to the BusinessEntityID. */

select PP.firstname, PP.middlename, PP.lastname, PP.BusinessEntityID, SC.PersonID, SC.customerID
from Person.Person as PP
left join Sales.Customer as SC 
ON PP.BusinessEntityID = SC.PersonID

--that was easy. Used same system as 3.1.
--Used PP as base because 19972 > 19820.

In [ ]:
select *
from Sales.SalesOrderHeader

In [ ]:
--3.3
/* Modify the query from 3.2 to include the list of orders placed as well. Include SalesOrderID and
OrderDate. Make sure that none of the names drop out of the results. */
--Had to move SC to from (as middle table)

Select PP.firstname, PP.middlename, PP.lastname, PP.BusinessEntityID, SC.PersonID, SC.customerID, SOH.CustomerID, SOH.SalesOrderID, SOH.OrderDate
from Sales.Customer as SC 
left join Person.Person as PP
ON PP.BusinessEntityID = SC.PersonID

left join Sales.SalesOrderHeader as SOH
on SOH.CustomerID = SC.CustomerID

--How do I make sure that none of the names drop out of the results?
--32166 rows